@using System.Reflection
@using AzManAuthentication.Controllers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Info</p>


@foreach (var m in typeof(AuthorizedController).GetMethods(BindingFlags.Public|BindingFlags.Instance).Where(m=>m.Name.StartsWith("Action")))
{
    <button class="btn btn-default" onclick="location.href = '@Url.Action(m.Name)'">@m.Name</button>
}