
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Demo Anti-Forgery</h2>
@using (Html.BeginForm("Create", "AntiForgery"))
{
    @Html.AntiForgeryToken()

    <p>@ViewBag.Data</p>

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" name="Search" class="form-control" placeholder="Search for..." value="Testing">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
}
